/*Reset sets*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Verdana;
}

/* header */
.header {
    background-color: tomato;
    text-align: center;
    box-shadow: 0px -2px 9px 0px black;
}

.headerImg {
    width: 80px;
    margin: 20px auto;
}

.headerNav ul {
    display: flex;
    justify-content: center;
}

.headerNav ul li {
    padding: 15px;
}

/* Container */
.container {
    display: flex;
}

/* Aside */
aside {
    width: 30%;
}

.asideContainer {
    border-right: 1px solid black;
}

.navContainer ul li {
    padding: 15px;
    border-bottom: 1px solid black;
}

.asideImg {
    width: 30px;
    padding-right: 5px;
}

/* MAIN */
.mainContainer {
    background-color: burlywood;
    width: 70%;
    text-align: center;
}

.taskSection {
    border: 2px solid bisque;
    max-width: 500px;
    display: block;
    margin: 10px auto;
}

.taskSection ul li {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

.completedTask {
    text-decoration: line-through;
}