:root {
    /* Este es el espacio de variables de CSS */
    --color-hover: #41c7f4a8;
}

/*Reset sets*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Verdana;
}

a {
    color: black;
}

/* DARK - MODE */
.darkMode {
    background-color: black;
    color: white;
}

.darkMode a {
    color: white;
}

.darkMode .header {
    background-color: black;
    color: white;
}

.darkMode .header {
    border-bottom: 1px solid white;
}

.darkMode .mode {
    color: white;
}

.darkMode .navContainer ul li {
    border-color: white;
}

.darkMode .asideContainer {
    border-right: 1px solid white;
}

.darkMode .taskSection ul li {
    border-bottom: 1px solid white;
}

.mode {
    background-color: transparent;
    font-family: Verdanda;
    font-size: 20px;
}



/* header */
.header {
    background-color: tomato;
    text-align: center;
    box-shadow: 0px -2px 9px 0px black;
}

.headerImg {
    width: 80px;
    margin: 20px auto;
}

.headerNav ul {
    display: flex;
    justify-content: center;
}

.headerNav ul li {
    padding: 15px;
}

.headerNav ul li:hover {
    background-color: #41c7f4;
}

/* Container */
.container {
    display: flex;
}

/* Aside */
aside {
    width: 30%;
}

.asideContainer {
    border-right: 1px solid black;
}

.navContainer ul li {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid black;
}

.navContainer ul li:hover {
    background-color: #ff6347;
}

.asideImg {
    width: 30px;
    padding-right: 5px;
}

/* MAIN */
.mainContainer {
    width: 70%;
    text-align: center;
    padding: 30px;
}

.mainContainer input {
    height: 40px;
    width: 400px;
    border: 1px solid #ff6347;
    border-radius: 5px;

}

.mainContainer button {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: tomato;
    margin: 10px 20px;
}

.mainContainer button:hover {
    background-color: #ff6347a5;
}

.taskSection {
    border: 2px solid #41c8f4;
    max-width: 500px;
    width: 100%;
    display: block;
    margin: 10px auto;
}

.taskSection ul li:last-child {
    border-bottom: none;
}

.taskSection ul li {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 15px;
}

.completedTask {
    text-decoration: line-through;
}