@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
    /* Este es el espacio de variables de CSS */
    --color-hover-blue: #41c7f4a8;
    --color-hover-tomato: #ff6347a5;
    --background-color-dark-mode: rgba(63, 62, 62, 0.793);
}

/*Reset sets*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Verdana;
}

a {
    color: black;
}

/* -------------------------------------------------- */
/* header */
/* -------------------------------------------------- */

.header {
    background-color: tomato;
    text-align: center;
    box-shadow: 0px -2px 9px 0px black;
}

.container-dark-mode {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.buttonDarkMode {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.buttonDarkMode:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.buttonDarkMode {
    background-color: #2196F3;
}

input:focus+.buttonDarkMode {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.buttonDarkMode:before {
    transform: translateX(26px);
}

.buttonDarkMode.round {
    border-radius: 34px;
}

.buttonDarkMode.round:before {
    border-radius: 50%;
}

/* -------------------------------------------------- */
.headerImg {
    width: 80px;
    margin: 20px auto;
    animation-name: zoomIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.headerImg:hover {
    /*     animation: rotateLogo 1s infinite linear;*/
    animation-name: tada;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.headerNav ul {
    display: flex;
    justify-content: center;
}

.headerNav ul li {
    padding: 15px;
}

.headerNav ul li:hover {
    background-color: #41c7f4;
}

/* -------------------------------------------------- */
/* Container */
/* -------------------------------------------------- */
.container {
    display: flex;
}

/* -------------------------------------------------- */
/* Aside */
/* -------------------------------------------------- */
aside {
    width: 30%;
}

.asideContainer {
    border-right: 1px solid black;
}


.navContainer ul li {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid black;
}

.navContainer ul li:hover {
    background-color: #ff6347;
    cursor: pointer;
}

.navContainer ul li a {
    margin-left: 20px;
}

.asideImg {
    width: 30px;
    padding-right: 5px;
}

/* MAIN */
.mainContainer {
    width: 70%;
    text-align: center;
    padding: 30px;
}

.mainContainer input {
    height: 40px;
    max-width: 400px;
    width: 100%;
    border: 1px solid #ff6347;
    border-radius: 5px;

}

.mainContainer button {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: tomato;
    margin: 10px 20px;
}

.mainContainer button:hover {
    background-color: var(--color-hover-tomato);
}

.taskSection ul li:hover {
    background-color: var(--color-hover-tomato);
}

.taskSection {
    border: 2px solid tomato;
    max-width: 500px;
    width: 100%;
    display: block;
    margin: 10px auto;
}

.taskSection ul li:last-child {
    border-bottom: none;
}

.taskSection ul li {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--color-hover-tomato);
    padding: 15px;
}

.completedTask {
    text-decoration: line-through;
}

/* ----------------------------------------- */
/* ANIMATIONS */
/* ----------------------------------------- */
@keyframes rotateLogo {
    0% {
        transform: rotateY(2deg);
    }

    20% {
        transform: rotateY(72deg);
    }

    40% {
        transform: rotateY(144deg);
    }

    60% {
        transform: rotateY(216deg);
    }

    80% {
        transform: rotateY(288deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes tada {
    0% {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}


/* -------------------------------------------------- */
/* DARK - MODE */
/* -------------------------------------------------- */
.darkMode {
    background-color: var(--background-color-dark-mode);
    color: white;
}

.darkMode a {
    color: white;
}

.darkMode .header {
    background-color: var(--background-color-darkMode);
    color: white;
}

.darkMode .header {
    border-bottom: 1px solid white;
}

.darkMode .mode {
    color: white;
}

.darkMode .navContainer ul li {
    border-color: white;
}

.darkMode .asideContainer {
    border-right: 1px solid white;
}

.darkMode .navContainer ul li:hover {
    background-color: var(--color-hover-blue);
}

.darkMode .taskSection ul li {
    border-bottom: 1px solid var(--color-hover-blue);
}

.darkMode .mainContainer input {
    border: 1px solid #41c7f4a8;
}

.darkMode .mainContainer button {
    background-color: #41c7f4;
}

.darkMode .mainContainer button:hover {
    background-color: var(--color-hover-blue);
}

.darkMode .taskSection {
    border: 2px solid var(--color-hover-blue);
}

.darkMode .taskSection ul li:last-child {
    border-bottom: none;
}

.darkMode .taskSection ul li:hover {
    background-color: var(--color-hover-blue);
}